In [2]:
import pandas as pd

In [3]:
df_input = pd.read_pickle("all_input_attention_scores_correl.pkl")  
df_input

            object action               filename  layer  head     score
0            apple    cut       apple_000054.jpg      0     0  0.051463
1            apple    cut       apple_000054.jpg      0     1 -0.048072
2            apple    cut       apple_000054.jpg      0     2  0.027438
3            apple    cut       apple_000054.jpg      0     3  0.048361
4            apple    cut       apple_000054.jpg      0     4 -0.070802
...            ...    ...                    ...    ...   ...       ...
495611  wine_glass   wash  wine_glass_000186.jpg     63    59 -0.059139
495612  wine_glass   wash  wine_glass_000186.jpg     63    60 -0.062386
495613  wine_glass   wash  wine_glass_000186.jpg     63    61 -0.062341
495614  wine_glass   wash  wine_glass_000186.jpg     63    62 -0.059362
495615  wine_glass   wash  wine_glass_000186.jpg     63    63 -0.062625

[495616 rows x 6 columns]

In [ ]:
df_input.groupby(["layer", "head"]).agg({"score": "mean"}).sort_values("score", ascending=False).reset_index()

      layer  head     score
0        26    20  0.207851
1        24    31  0.171243
2        22    26  0.170202
3        26    33  0.162253
4        28    62  0.153036
...     ...   ...       ...
4091     27     4 -0.088034
4092     10    59 -0.090348
4093      5    44 -0.093483
4094      1    31 -0.094968
4095     38    28 -0.098130

[4096 rows x 3 columns]

In [12]:
df_input.groupby(["layer"]).agg({"score": "mean"}).sort_values("score", ascending=False).reset_index().head(10)

   layer     score
0     45  0.017905
1     43  0.005414
2     42  0.004049
3     21  0.004035
4     40  0.003098
5     28  0.001149
6     36 -0.000108
7     26 -0.000712
8     24 -0.000889
9     41 -0.001958

In [11]:
df_input.groupby(["layer", "head"]).agg({"score": "mean"}).sort_values("score", ascending=False).reset_index().head(10)

   layer  head     score
0     26    20  0.207851
1     24    31  0.171243
2     22    26  0.170202
3     26    33  0.162253
4     28    62  0.153036
5     22    27  0.148203
6     43    24  0.145865
7     21    38  0.143712
8     24    28  0.142997
9     26    57  0.131523

In [6]:
# Softmax 함수 정의 (안정성을 위해 scipy 사용 추천, 없으면 numpy로 구현 가능)
from scipy.special import softmax
def apply_softmax(x):
    return softmax(x)

# groupby 후 transform을 사용하면 원본 인덱스를 유지하며 값을 변환해 채워넣습니다.
# 즉, 이미지 1장 내에 있는 모든 헤드들의 점수를 모아서 Softmax를 취합니다.
df_input['softmax_score'] = df_input.groupby(['object', 'action', 'filename'])['score'].transform(apply_softmax)

df_result = df_input.groupby(['layer', 'head'])['softmax_score'].mean().sort_values(ascending=False).reset_index()

In [13]:
df_result.groupby(["layer"]).agg({"softmax_score": "mean"}).sort_values("softmax_score", ascending=False).reset_index().head(10)

   layer  softmax_score
0     45       0.000254
1     43       0.000251
2     21       0.000251
3     42       0.000251
4     40       0.000250
5     28       0.000250
6     26       0.000250
7     24       0.000250
8     36       0.000250
9     41       0.000249

In [14]:
df_result.groupby(["layer", "head"]).agg({"softmax_score": "mean"}).sort_values("softmax_score", ascending=False).reset_index().head(10)

   layer  head  softmax_score
0     26    20       0.000309
1     24    31       0.000298
2     22    26       0.000297
3     26    33       0.000295
4     28    62       0.000293
5     43    24       0.000290
6     22    27       0.000290
7     21    38       0.000289
8     24    28       0.000289
9     26    57       0.000286